@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');

:root {
  --sidebar-wdith : 270px ;
  --appbar-height: 60px;
}


a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.clickable {
  cursor: pointer;
}

.hamburger:hover {
  background: rgb(204, 204, 204, 0.2);
  transform: scale(1.2);
  padding: .1em;
  border-radius: 50%;

}